*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #e79a4d, #cc9696);
    
}

.container{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-width: 400px;
}

#titolinici{
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
}

#paragrafinici{
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}

.imatgeinici{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container2{

    height: 30vh;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    border: solid black;
    
    
}

.carta{
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-width: 200px;
    align-items: center;
    text-align: center;
}

#entityseccio{
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}

.imatgeseccio{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}