{# templates/dades_seccio.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Seccions{% endblock %}
{%  block stylesheets %}
<link href="{{ asset('kaira/css/estilsSeccio.css') }}" rel="stylesheet" />

{% endblock %}
{% block body %}

<h1 id='titolSeccio'>Dades Seccio</h1>
<p class="paragrafSeccio">Imatge Seccio</p>
<img src="{{ asset('')}}"/>

{% endblock %}